.card {
    border: 1px solid#ccc;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;


}

.card h2{
    font-size: 18px;
    margin-bottom: 8px;

}

.card p{
    font-size: 14px;
    
}